.container{

}

.container > div{
  margin: 10px;
}

.sidebar {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.error span {
  color: red;
}
.PlayerResultsContainer{
  display: inline-flex;
}







.playerResults{

}
.topBattingValues{
  display: inline-flex;

}
.topBattingValues > div{
  margin-right: 20px;

}