.profileContainer{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 2;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sideBar{
  overflow: auto;
  background: #fff;
  border-left: 1px solid rgba(0,0,0,.1);
  width: 200px;
  overflow: auto;
  padding: 16px;
  grid-area: sidebar;
    grid-row-start: sidebar;
    grid-column-start: 1;
    grid-row-end: sidebar;
    grid-column-end: auto;
    background: #fff;
    border-right: 1px solid rgba(0,0,0,.1);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    grid-column: 1;
    width: 200px;
}

.userInfo{
  position: relative;
}

.editProfile{
  position: absolute;
    top: 12px;
    right: 13px;
    padding: 0;
    display: block;
    padding: 7px 19px 10px 18px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    cursor: pointer;
}

button{
  touch-action: manipulation;
  text-transform: none;
  overflow: visible;
  background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: button;
    cursor: pointer;
}

.editSvg{
  height: 30px;
  width: 30px;
}

.wrapperAvatar{
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 6px;
}

.noAvatar{
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/user.png");
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.wrapperName{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.name{
  font-size: 20px;
  line-height: 24px;
  color: #414f5a;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-text-align: center;
  text-align: center;
}

.position{
  font-size: 16px;
  line-height: 19px;
  color: #788b99;
}
.position2{
  font-size: 16px;
  line-height: 19px;
  color: #788b99;
  border-top: 1px solid #cbcccd;
}

.personalInfo{
  display: flex;
  flex-flow: column;
}
.item{
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
}

.item span:nth-child(1n) {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.item span:nth-child(2n) {
  width: auto;
  margin-right: auto;
}

.item span:nth-child(3n) {
  width: auto;
  margin: 0;
}

.wrapperSvg{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ageSvg{
  height: 21px;
  width: 24px;
}

.heightSvg{
  width: 20px;
  height: 40px;
}
.weightSvg{
  width: 14px;
  height: 17px;
}

.ballSvg{
  width: 18px;
  height: 18px;
}

.batSvg{
  width: 20px;
  height: 20px;
}

.schoolInfo{
  display: flex;
  flex-direction: column;
}

.schoolInfoItemWrapper{
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.schoolInfoItemLabel{
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  -webkit-text-align: center;
  text-align: center;
  color: #667784;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #667784;
  margin-bottom: 3px;
  -webkit-text-align: left;
  text-align: left;
}

.schoolInfoItem{
  font-size: 16px;
    color: #667784;
    word-wrap: break-word;
    margin-bottom: 11px;
}

.like{
  width: 30px;
  height: 27px;
}

.playerResults{
  background: #788b99;
    flex: 2;
    overflow: auto;
    width: calc(100vw - 220px);
}

.topValuesWrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: block;
    flex-grow: 1
}

.topValuesWrapper2{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  min-width: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 20px;
}

.card{
  background: #fff;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  flex-grow: 1;
}

.titleWrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.title{
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  -webkit-text-align: center;
  text-align: center;
  color: #667784;
  font-size: 18px;
  font-weight: 900;
  color: #414f5a;
}


.topValuesWrapper3{
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.topValuesItem{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px 24px 0 0;
}

.topValue{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.topNameAndValue{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  margin-bottom: 8px;
}

.topName{
  font-size: 16px;
  color: #667784;
}

.topValue{
  font-size: 16px;
  color: #667784;
  font-weight: 700;
}

.recentSessionReportsTitle{
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  -webkit-text-align: center;
  text-align: center;
  color: #667784;
  font-size: 18px;
  font-weight: 900;
  color: #414f5a;
  text-align: left;
}

.recentSessionReportsP{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #667784;
  font-size: 16px;
}

.summaryEventsWrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.buttonsWrapper{
  margin: 0;
    padding: 0;
    box-shadow: unset;
    display: flex;
    justify-content: flex-start;
}

.buttonBatting{
  padding: 8px;
  margin: 8px;
  border: 2px solid #788b99;
  border-radius: 40px;
  background: #788b99;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    cursor: pointer;
}

.button{
  padding: 8px;
  margin: 8px;
  border: 2px solid #788b99;
  border-radius: 40px;
  background: #fff;
    color: #788b99;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    cursor: pointer;
}

.reportsTableWrapper{

}

.reportsWrapper{
  display: flex;
  flex-direction: column;
}

.reportsElementControlWrapper{
  display: flex;
  margin-bottom: 21px;
}

.reportsElementControlWrapper > div{
  display: flex;
}

.reportsElementControlWrapper > form{
  justify-content: flex-end;
  width: 100%;

}

.reportsElementControlWrapper > form > div:nth-child(1){
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.reportsElementControlWrapper > form > div:nth-child(1) > div{
  margin-right: 20px;
  align-items: center;
}

.reportsElementControlWrapper > form > div:nth-child(1) > div:nth-child(3){
  width: 100px;
}
.reportsElementControlWrapper > form > div:nth-child(1) > div:nth-child(1){
  padding: 0;
  font-size: 16px;
  line-height: 1.19;
  color: #48bbff;
}

.reportsElementControlWrapper > div:nth-child(1){
  justify-content: flex-start;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}

.reportsTableWrapper{
  display: flex;
  flex-direction: column;
}
.reportsTableWrapper > div:nth-child(1){
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 44px;
  margin-bottom: 6px;
}

.reportsTableWrapper > div:nth-child(1) > div{
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  color: #667784;
}

.reportsTableWrapper > div:nth-child(2){
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 420px;
  color: #667784;
  font-size: 16px;
}

.mainContent{
  grid-area: content;
  background: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}


.NoPlayerResults{
  background: #788b99;
    flex: 2;
    overflow: auto;
    width: calc(100vw - 220px);
}
.NoPlayerResults > div{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 570px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}
.NoPlayerResults > div > div{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 420px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.NoPlayerResults > div > div > div:nth-child(2){
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  -webkit-text-align: center;
  text-align: center;
  color: #667784;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.NoPlayerResults > div > div > div:nth-child(3){
  font-size: 16px;
  color: #667784;
  -webkit-text-align: center;
  text-align: center;
}
.NoPlayerResults > div > div > div:nth-child(1){
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/arrow.png");
}

.error{
  color: red;
}

.formWrapper{
  background: #fff;
  border-left: 1px solid rgba(0,0,0,.1);
  width: 200px;
  overflow: auto;
  padding: 16px;
  overflow: auto;
  opacity: 1;
    position: relative;
    width: 298px;
    -webkit-flex: 0 0 298px;
    -ms-flex: 0 0 298px;
    flex: 0 0 298px;
    background: #ffffff;
    height: auto;
    display: block;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.form{

}
.form > div:nth-child(1){
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}
.form > div{
  margin-bottom: 10px;
}
.form > div:nth-child(1) > div{
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  width: 48%;
  -webkit-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}
.form > div:nth-child(1) > div > div{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form input{
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #eff1f3;
  padding: 6px 12px 6px 12px;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;
  color: #667784;
  border: 1px solid transparent;
}

.label{
  font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    -webkit-text-align: center;
    text-align: center;
    color: #667784;
    font-size: 18px;
    font-weight: 900;
    color: #414f5a;
    -webkit-text-align: left;
    text-align: left;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    padding-right: 12px;
}

.buttonsWrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.cancelButton{
  width: 100%;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: solid 1px #d1d7db;
    background-color: #ffffff;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0);
    display: block;
    padding: 7px 19px 10px 18px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-right: 12px;
}

.cancelButton:active:focus, .cancelButton:focus, .cancelButton:active {
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #48bbff;
  color: #48bbff;
}
.cancelButton:hover, .cancelButton:focus, .cancelButton:active, .cancelButton:active:focus {
  outline: none;
}

.cancelButton:hover {
  color: #48bbff;
  box-shadow: 0 0 4px 0 rgba(72, 187, 255, 0.8);
  border: solid 1px #48bbff;
}

.saveButton{
  width: 100%;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #ffffff;
  font-weight: 400;
  border: solid 1px transparent;
  box-shadow: 0 0 4px 0 rgba(72, 187, 255, 0);
  background-color: #48bbff;
  display: block;
  padding: 7px 19px 10px 18px;
  border-radius: 4px;
  box-shadow: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.saveButton:hover {
  color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(72, 187, 255, 0.8);
  border: solid 1px transparent;
  background-color: #48bbff;
}

.comparisonWrapper{
  display: block;
}
.comparisonHeader{
  display: grid;
    grid-template-columns: 1fr 1fr;
}
.comparisonHeader > div{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.comparisonHeader > div > img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50px;
}
.comparisonTable  > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 44px;
  margin-bottom: 6px;
}

.comparisonTable  > div:nth-child(4){
  display: flex;
  flex-direction: column;
}

.comparisonTable  > div:nth-child(1){
  margin-top: 15px;
}

.profileSelection{
  width: 178px;
  position: absolute;
  top: 100%;
  left: -15px;
  margin-top: 5px;
  padding: 8px 0;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .15);
  border: solid 1px #ebebeb;
  z-index: 100;
  display: block;
  right: -5px;
  left: inherit;
}

.profileSelection > div{
  display: block;
  padding: 8px 16px;
  background: #fff;
  line-height: 1;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;
  color: #788b99;
  cursor: pointer;
}
.profileSelection > div:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  right: 25px;
  z-index: 2;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ffffff transparent;
}
.profileSelection > div:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -9px;
  right: 25px;
  z-index: 1;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgba(0, 0, 0, .15) transparent;
}

.comparedProfilesWrapper{
  position: relative;
}