.mainContent{
  grid-area: content;
  background: #fff;
  justify-content: space-between;
  overflow: auto;
}
.mainContent > div{
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.mainContent > div > div:nth-child(1){
  position: relative;
  padding: 16px;
  flex: 0 1 100%;
  border-bottom: 1px solid rgba(0,0,0,.1);
  height: 67px;
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

}
.mainContent > div > div:nth-child(1) > div:nth-child(2){
  display: none;
  width: 178px;
  position: absolute;
  top: 100%;
  margin-top: 12px;
  padding: 8px 0;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .15);
  border: solid 1px #ebebeb;
  z-index: 100;
  display: block;
  width: 250px;
  max-height: 400px;
  left: 15px;
  overflow: auto;
}
.mainContent > div > div:nth-child(1) > div:nth-child(2) > div{
  display: block;
  padding: 8px 16px;
  background: #fff;
  line-height: 1;
  color: #788b99;
  font-size: 16px;
    line-height: 1.13;
    font-weight: 400;
    color: #788b99;
    cursor: pointer;
}
.mainContent > div > div:nth-child(1) > div:nth-child(2) > div:hover{
  background-color: rgba(72, 187, 255, 0.1);
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #788b99;
}

.mainContent > div > div:nth-child(2){
  flex: 1 0 100%;
  height: calc(100% - 67px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}
.mainContent > div > div:nth-child(2) > aside{
  background: #fff;
  border-left: 1px solid rgba(0,0,0,.1);
  width: 200px;
  overflow: auto;
  padding: 16px;
  grid-area: sidebar;
  border-right: 1px solid rgba(0,0,0,.1);
  grid-column: 1;
}
.mainContent > div > div:nth-child(2) > aside > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: auto;
}

.mainContent > div > div:nth-child(2) > aside:nth-child(1) > ul > li{
  padding: 16px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-flow: column;
}
.mainContent > div > div:nth-child(2) > aside:nth-child(2) > ul > li{
  padding: 16px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
  position: relative;
}
.mainContent > div > div:nth-child(2) > aside:nth-child(2) > ul > li:hover{
  background: #788b99;
  border-radius: 6px;
}
.mainContent > div > div:nth-child(2) > aside:nth-child(1) > ul > li > span:nth-child(1){
  font-size: 12px;
}
.mainContent > div > div:nth-child(2) > aside:nth-child(1) > ul > li > span:nth-child(2){
  font-size: 14px;
}
.mainContent > div > div:nth-child(2) > aside:nth-child(1) > ul > li > span:nth-child(3){
  font-size: 16px;
}



.mainContent > div > div:nth-child(2) > aside:nth-child(1) > ul > li:hover{
  background: #788b99;
  border-radius: 6px;
}

.mainContent > div > div:nth-child(2) > div{
  flex: 1;
  overflow: auto;
  background: #788b99;
  padding: 16px;
  box-sizing: inherit;
}