
.container{
  width: 100%;
  overflow: auto;
}
.pagination{
  border-radius: 4px;
  display: flex!important;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 16px 0;
    position: sticky;
    bottom: 0;
  -ms-flex-item-align: flex-end;
    align-self: flex-end;
    display: inline-block;
    padding-left: 0;
    border: 0;
}
.mainContent{
  grid-area: content;
  background: #fff;
  justify-content: space-between;
  overflow: auto;
}

.networkText{
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  -webkit-text-align: center;
  text-align: center;
  color: #667784;
}

.pageHeader {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.filtersContainer{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: flex-end;
}
.filtersContainer > div{
  width: 150px;
  height: 34px;
  margin-right: 10px

}
.filtersContainer > div:last-child {
  margin-right: 0px
}
.filtersContainer > div > div > input{
  width: 150px;
  height: 37px;
}

.tableFilter {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.availablePlayers{
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  -webkit-text-align: center;
  text-align: center;
  color: #667784;
  font-size: 18px;
  font-weight: 900;
  color: #414f5a;
  font-weight: 400;
  -webkit-text-align: left;
  text-align: left;
}

.PlayerName{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.tableWrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px;
}


.mainContent{
  grid-area: content;
  background: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}